*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #d3d3d3;
}
@font-face{
    font-family: "karla";
    src: url("./Fonts/Karla-VariableFont_wght.ttf");
}
html{
    font-family: karla;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
#main-title{
    font-size: 4rem;
    font-weight: bold;;
    background-color: #ffe4e1;
    color: #8b0000;
    margin: 20px 8px;
    padding: 2px;
    border-radius: 10px;
}
.intro-paragraph{
    font-size: 2.0rem;
    margin: 20px 8px;
    padding: 2px;
    color: #939599;
    
}


.nav-link{
    background-color: #ffffe0;
    color: #5b9e50;
    font-weight: bold;
    /* margin: 40px 40px; */
}
nav ul {
    list-style: disc;
    margin-left: 20px;
    margin: 20px 40px;
    font-size: 1.9rem;
}
.content-paragraph{
    font-size: 2.0rem;
    margin: 20px 8px;
    padding: 2px;
    color: #939599;
}
.color-box{
    background-color: #fffff0;
    margin: 20px 8px;
}
.color-box p{
    font-size: 2.0rem;
    /* margin: 20px 8px; */
    padding: 5px;
    color: #e3b047;
}